.timer {
    display:block;
    margin:auto;  
    width: 350px;
    color: #6f7c89;
    }
  .timer__items {
    font-size: 50px;
    font: Tahoma;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    }
.timer__item {
    position: relative;
    min-width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
    text-align: center;
    }
.timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 30px;
    }
.timer__item:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -15px;
    }
.box{
    display:block;
    margin:auto;
    max-width: 1280px;
    }
.pic{
    width: 100%;
    padding-top: 20px;
  }
.gif{
    width: 170px;
    display:block;
    margin:auto;
    padding-top: 20px;
  }
p{
    text-align: center;
    font-size: 50pt;
    font: Tahoma;
    color:#adbac7;
    background-color: #22272e;
    padding: 0px;
  }
h1{
    text-align: center;
    font-size: 50pt;
    font: Tahoma;
    color: #adbac7;
  }
li{
    text-align: center;
    font-size: 30pt;
    color: #adbac7;
}
body{
  background-color: #1c2128;
}
  